[Unit]
Description=Java bot service
After=syslog.target network.target
[Service]

User=ubuntu
Group=ubuntu

Type=simple

Environment="JAVA_HOME=/usr/lib/jvm/java-1.17.0-openjdk-amd64"
WorkingDirectory=/home/ubuntu/target
ExecStart=java -jar /home/ubuntu/target/bot-backend.jar
ExecStop=/bin/kill -15 $MAINPID
SuccessExitStatus=143
[Install]
WantedBy=multi-user.target